$background-color: #0a090a;
$background-card: #1a1918;
$font-color: #cacaca;
$font-header-color: #9e6209;
$font-subtitle-color: #8b8b8b;
$border: #666803;

// $background-color: #aa9c83;
// $background-card: #e4d2b0;
// $font-color: #000;
// $font-header-color: #000000;
// $font-subtitle-color: #4e4e4e;
// $border: #666803;